### Instructions:
 - Read the file Advertisement.csv as a dataframe.
 - For each instance of the predictor combination, form a model. For example, if you have 2 predictors, A and B, you will end up getting 3 models - one with only A, one with only B, and one with both A and B.
 - Split the data into train and test sets.
 - Compute the MSE of each model.
 - Print the Predictor - MSE value pair

In [2]:
# Import necessary libraries
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn.utils import shuffle
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from itertools import combinations

%matplotlib inline

In [3]:
df = pd.read_csv('data/Advertising.csv')

In [4]:
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [5]:
def calculate_MSE(x,y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.6, random_state=42)
    model = LinearRegression()
    model.fit(x_train, y_train)
    y_pred_test = model.predict(x_test)


    mse = mean_squared_error(y_test, y_pred_test)
    return mse

In [6]:
cols = [['TV'], ['Radio'], ['Newspaper'],
        ['TV', 'Radio'], ['TV', 'Newspaper'],
        ['Radio', 'Newspaper'], ['TV', 'Radio', 'Newspaper']]

mse_list = [calculate_MSE(df[predictors], df["Sales"]) for predictors in cols]

In [7]:
results_df = pd.DataFrame({
    "Predictors": [", ".join(predictor) for predictor in cols],
    "MSE": mse_list
})

display(results_df)

             Predictors        MSE
0                    TV   9.245846
1                 Radio  21.576810
2             Newspaper  27.876977
3             TV, Radio   3.290957
4         TV, Newspaper   9.230367
5      Radio, Newspaper  21.911164
6  TV, Radio, Newspaper   3.429006